<?xml version="1.0"?>
<!--
 * ScandiPWA_Customer
 *
 * @category    ScandiPWA
 * @package     ScandiPWA_Customer
 * @author      <info@scandiweb.com>
 * @copyright   Copyright (c) 2022 Scandiweb, Ltd (https://scandiweb.com)
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Scandiweb_Test" setup_version="0.0.1">
    </module>
</config>
